<div id="create-iroad" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-long">

        <!-- Modal content-->
        <form>
            <div class="modal-content">

                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Transition Link</h4>
                </div>

                <!-- body -->
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Road Fields</label>
                            <div class="table-bordered form-fields">
                                <div class="row form-fields-row">
                                    <div class="col-sm-5"><p>Label:</p></div>
                                    <div class="col-sm-7"><input title="label" type="text" class="form-control" id="iroad-label"></div>
                                </div>
                                <div class="row form-fields-row">
                                    <div class="col-sm-5"><p>Lane Width(m):</p></div>
                                    <div class="col-sm-7"><input title="lane-width" type="text" class="form-control" id="iroad-width"></div>
                                </div>
                                <div class="row form-fields-row">
                                    <div class="col-sm-5"><p>Speed Limit(kph):</p></div>
                                    <div class="col-sm-7"><input title="limit" type="text" class="form-control" id="iroad-limit"></div>
                                </div>
                                <div class="row form-fields-row">
                                    <div class="col-sm-5"><p>Number of splits:</p></div>
                                    <div class="col-sm-7"><input title="splits" type="text" class="form-control" id="iroad-splits"></div>
                                </div>
                                <!--<div class="row form-fields-row">-->
                                    <!--<div class="col-sm-5"><p>Gradient:</p></div>-->
                                    <!--<div class="col-sm-7"><input title="gradient" type="text" class="form-control" id="iroad-gradient" value="0"></div>-->
                                <!--</div>-->
                                <div class="row form-fields-row">
                                    <div class="col-sm-5"><p>Priority:</p></div>
                                    <div class="col-sm-7">
                                        <label class="radio-inline"><input type="radio" name="iroad-priority" value="major" id="iroad-priority-major">Major</label>
                                        <label class="radio-inline"><input type="radio" name="iroad-priority" value="minor" id="iroad-priority-minor">Minor</label>
                                    </div>
                                </div>
                                <!--<div class="row form-fields-row">-->
                                    <!--<div class="col-sm-5"><p>Type:</p></div>-->
                                    <!--<div class="col-sm-7">-->
                                        <!--<div class="dropdown">-->
                                            <!--<select class="btn btn-default dropdown-toggle" id="type" name="type">-->
                                                <!--<option value="Urban">Urban</option>-->
                                                <!--<option value="Rural">Rural</option>-->
                                                <!--<option value="Freeway">Freeway</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="row form-fields-row">
                                    <div class="col-sm-5"><p>Length:</p></div>
                                    <div class="col-sm-7"><label id="iroad-length"></label></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="entry-exit">Choose lanes:</label>
                            <div class="table-bordered form-fields" id="entry-exit">
                                <div class="row form-fields-row">
                                    <div class="col-sm-6">
                                        <select multiple class="form-control" id="iroad-entry" title="entry" size=10>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <select multiple class="form-control" id="iroad-exit" title="exit" size=10>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-success" id="iroad-submit">Create transition link</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

    let iroad_modal = $("#create-iroad");
    let iroad_submit = $('#iroad-submit');

    iroad_submit.click(function(){
        app.create_iroad_popup.do_();
    });

    iroad_modal.on('hidden.bs.modal', function(){
        $('#iroad-entry').empty();
        $('#iroad-exit').empty();
        $(this).find('form').trigger('reset');
        $(document).off('keydown');
        $(document).keydown(function(e){
            app.keypress_callback(e);
        });
    });

    iroad_modal.on('shown.bs.modal', function () {
        $('#iroad-label').focus();
        $(document).off('keydown');
        $(document).keydown(function(e){
            if (e.which == ENTER_KEY) {
                e.preventDefault();

                iroad_submit.click();
            }
        });
    });

    iroad_modal.draggable({
        handle: ".modal-header, .modal-footer"
    });

    $(".type-dropdown a").click(function(){
        $('#type').text($(this).text());
    });

</script>