<div id="create-speed-limit" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form>
            <div class="modal-content">

                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Speed Limit Zone</h4>
                </div>

                <!-- body -->
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="form-group">
                            <div class="row form-fields-row">

                            </div>
                            <div class="table-bordered form-fields">
                                <p>Maximum speed (kph):</p>
                                <input title="max" type="text" class="form-control" id="speed-limit-max">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-success" id="speed-limit-submit">Create speed limit zone</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

    let limit_modal = $("#create-speed-limit");
    let limit_submit = $('#speed-limit-submit');

    limit_submit.click(function(){
        app.create_limit_popup.do_();
    });

    limit_modal.on('hidden.bs.modal', function(){
        $(this).find('form').trigger('reset');
        $(document).off('keydown');
        $(document).keydown(function(e){
            app.keypress_callback(e);
        });
    });

    limit_modal.on('shown.bs.modal', function () {
        $('#speed-limit-max').focus();
        $(document).off('keydown');
        $(document).keydown(function(e){
            if (e.which == ENTER_KEY) {
                e.preventDefault();

                limit_submit.click();
            }
        });
    });

    limit_modal.draggable({
        handle: ".modal-header, .modal-footer"
    });

</script>